body{
    font-family: 'Roboto', 'Lato';
    font-size: 14px;
    overflow-x: hidden;
    padding-bottom: 70px;
}

.header{
    
}
.container{
    margin: 3px;
    width: 100%;
}

.social{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.social-list{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.social a{
    color:darkorange;
    
}
.social button{
    color: white;
    background-color: darkorange;
}
.social button:hover{
    color: white;
    background-color: darkorange;
}

.jumbotron{
    background-color: darkorange;
}
.jumbotron h1 h2{
    text-align: right;
}
.jumbotron container{
    background-color: darkorange;
}
.img-thumbnail{
    width: 85%;
    position: relative;
    border-radius: 50%;
}

.footer{
    background-color: whitesmoke;
}
.footer a{
    float: right;
    color: darkorange;
}